* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bg-intro-desktop.png) #ff7a7a;
}

left {
  margin: 50px 5px;
  width: 500px;
  height: auto;
  color: #fff;
}

left h1 {
  font-size: 40px;
  font-weight: 800;
}

left p {
  font-size: 15px;
  line-height: 1.5rem;
}

right {
  margin: 50px 5px;
  width: 500px;
  height: auto;
}

right button {
  margin-bottom: 20px;
  padding: 10px 30px;
  width: 500px;
  border-radius: 5px;
  background: #6055a5;
  -webkit-box-shadow: 0 8px rgba(105, 105, 105, 0.315);
          box-shadow: 0 8px rgba(105, 105, 105, 0.315);
  border: none;
  color: #fff;
  font-weight: 600;
}

right button .small-font {
  font-weight: 200;
}

right form {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 50px;
}

right form .userFirstNameInput, right form .userLastNameInput, right form .userEmailInput, right form .userPasswordInput {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #dbd9d9;
  background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

right form .userFirstNameInput input, right form .userLastNameInput input, right form .userEmailInput input, right form .userPasswordInput input {
  margin: 0.1rem 0rem;
  padding: 1rem;
  width: 90%;
  border: none;
  outline: none;
  font-weight: 900;
  background: #fff;
  -webkit-transition: background-color 5000s ease-out 0.5s;
  transition: background-color 5000s ease-out 0.5s;
}

right form .userFirstNameInput .errorIcon, right form .userLastNameInput .errorIcon, right form .userEmailInput .errorIcon, right form .userPasswordInput .errorIcon {
  margin: 5px;
  width: auto;
  visibility: hidden;
}

right form .emptyFirstName, right form .emptyLastName, right form .emptyEmail, right form .emptyPassword {
  margin: auto 3px;
  text-align: right;
  color: #ff7a7a;
}

right form p {
  font-size: 8px;
  font-weight: bold;
}

right form p span {
  color: #ff7a7a;
}

right form .submitData {
  width: auto;
  padding: 10px 30px;
  background: #38cc8c;
  -webkit-box-shadow: 0 5px #50b489;
          box-shadow: 0 5px #50b489;
  cursor: pointer;
}

right form .submitData:hover {
  background-color: #67febd;
  -webkit-box-shadow: 0 5px #94d1b7;
          box-shadow: 0 5px #94d1b7;
}

@media only screen and (max-width: 414px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: auto;
    width: auto;
    color: #fff;
  }
  main left h1 {
    font-size: 40px;
    margin: 2rem;
  }
  main left p {
    font-size: 20px;
    line-height: 2rem;
    padding: 20px;
  }
  main right {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main right button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    margin: 20px;
    width: auto;
  }
  main right form {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }
  main right form .userFirstNameInput, main right form .userLastNameInput, main right form .userEmailInput, main right form .userPasswordInput {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    border: 1px solid #dbd9d9;
    background: #fff;
  }
  main right form .userFirstNameInput input, main right form .userLastNameInput input, main right form .userEmailInput input, main right form .userPasswordInput input {
    margin: 0.1rem 1rem;
    padding: 1rem 0.5rem;
    width: 80%;
    border: none;
    font-size: 16px;
  }
  main right form .userFirstNameInput .errorIcon, main right form .userLastNameInput .errorIcon, main right form .userEmailInput .errorIcon, main right form .userPasswordInput .errorIcon {
    visibility: hidden;
  }
  main right form .emptyFirstName, main right form .emptyLastName, main right form .emptyEmail, main right form .emptyPassword {
    display: none;
    margin: auto 3px;
    text-align: right;
    color: #ff7a7a;
  }
  main right form p {
    font-size: 8px;
    font-weight: bold;
  }
  main right form p span {
    color: #ff7a7a;
  }
  main right form .submitData {
    width: auto;
    margin: 10px 0px;
    padding: 10px 30px;
    background: #34cb8a;
    -webkit-box-shadow: 0 5px #4db386;
            box-shadow: 0 5px #4db386;
  }
  main right form .rightFooterText {
    padding: 5px 10px;
    color: #dbd9d9;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */